name: Build and Push gVisor Docker Images with Dafny and dotnet

on:
  workflow_dispatch: # Manually trigger the workflow
    inputs:
      tags:
        description: "Tag (same as FM Playground version)"
        required: true

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}-dfy-gvisor
          tags: |
            type=edge,branch=main
            type=semver,pattern={{version}}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Extract version
        id: extract_version
        run: |
          if [ -n "${{ github.event.inputs.tags }}" ]; then
            echo "VERSION=${{ github.event.inputs.tags }}" >> $GITHUB_ENV
          else
            echo "VERSION=$(echo $DOCKER_METADATA_OUTPUT_VERSION)" >> $GITHUB_ENV
          fi

      - name: Determine Tags
        id: determine-tags
        run: |
          if [ -n "${{ github.event.inputs.tags }}" ]; then
            echo "TAGS=ghcr.io/${{ github.repository }}-dfy-gvisor:${{ github.event.inputs.tags }}" >> $GITHUB_ENV
          else
            echo "TAGS=$(echo "${{ steps.meta.outputs.tags }}" | tr '\n' ',')" >> $GITHUB_ENV
          fi

      - name: Debug Tags
        run: |
          echo "Resolved tags: ${{ env.TAGS }}"

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./dafny-api/Dockerfile.gvisor
          tags: ${{ env.TAGS }}
          labels: |
            ${{ steps.meta.outputs.labels }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.description=Docker image for gVisor with Dafny and dotnet
            org.opencontainers.image.licenses=MIT
          platforms: linux/amd64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
